{% load static %}
<!-- Blog Sidebar
      ================================================== -->
<div class="span4 sidebar">

  <!--Search-->
  <section>
    <div class="input-append">
      <form action="{% url 'forum' %}">
        <input id="appendedInputButton" name="search" size="32" type="text" placeholder="Search">
        <button class="btn" type="submit"><i class="icon-search"></i></button>
      </form>
    </div>
  </section>

  <!--Categories-->
  <h5 class="title-bg">Категорії</h5>
  <ul class="post-category-list">
    {% for item in right_categories %}
    <li><a href="{% url 'forum' %}?category={{ item.id }}"><i class="icon-plus-sign"></i>{{ item.name }}</a></li>
    {% endfor %}
  </ul>

  <!--Popular Posts-->
  <h5 class="title-bg">Популярні публікації</h5>
  <ul class="popular-posts">

    {% for item in right_posts %}
      {% include 'forum/content_block__forum_popular_post.html' %}
    {% endfor %}

  </ul>

  <!--Tabbed Content-->
  <h5 class="title-bg">Нові коментарі</h5>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#comments" data-toggle="tab">Коментарі</a></li>
    <li><a href="#tweets" data-toggle="tab">Tweets</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="comments">
      <ul>
          {% for comment in right_comments %}
        <li><i class="icon-comment"></i>{{ comment.author.get_full_name }} до
            <a href="#">{{ comment.text|striptags }}</a></li>
          {% endfor %}
      </ul>
    </div>
    <div class="tab-pane" id="tweets">
      <ul>
        <li><a href="#"><i class="icon-share-alt"></i>@room122</a> Vivamus tincidunt sem eu magna varius
          elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna.
        </li>
        <li><a href="#"> <i class="icon-share-alt"></i>@room122</a> Nulla faucibus ligula eget ante varius ac
          euismod odio placerat.
        </li>
        <li><a href="#"> <i class="icon-share-alt"></i>@room122</a> Pellentesque iaculis lacinia leo. Donec
          suscipit, lectus et hendrerit posuere, dui nisi porta risus, eget adipiscing
        </li>
        <li><a href="#"> <i class="icon-share-alt"></i>@room122</a> Vivamus augue nulla, vestibulum ac ultrices
          posuere, vehicula ac arcu.
        </li>
        <li><a href="#"> <i class="icon-share-alt"></i>@room122</a> Sed ac neque nec leo condimentum rhoncus. Nunc
          dapibus odio et lacus.
        </li>
      </ul>
    </div>
  </div>

  <!--Video Widget-->
</div>