{% load static %}

<!-- Blog Post 1 -->
<article class="clearfix">

  <h4 class="title-bg"><a href="{% url 'topic_single' item.id %}">{{ item.text }}</a></h4>
  <p>{{ item.description|striptags|safe|slice:"150" }}</p>
  <div class="post-summary-footer">
    <ul class="post-data-3">

        <li><i class="icon-ok"></i>
          {{ item.checks }}
        </li>

      <li><i class="icon-calendar"></i> {{ item.created|date:"d/m/Y" }}</li>
      <li><i class="icon-comment"></i> <a href="#">{{ item.comments_count }} Коментарів</a></li>
    </ul>
  </div>
</article>