{% load static %}

<!-- Blog Post 1 -->
<article class="clearfix">
  <a href="{% url 'forum_single' item.id %}">
    <img src="{{ item.image.url }}" style="max-width: 230px" alt="Post Thumb" class="align-left"></a>
  <h4 class="title-bg"><a href="{% url 'forum_single' item.id %}">{{ item.title }}</a></h4>
  <p>{{ item.description|striptags|safe|slice:"150" }}</p>
  <a href="{% url 'forum_single' item.id %}">
    <button class="btn btn-mini btn-inverse" type="button">Читати більше</button>
  </a>
  <div class="post-summary-footer">
    <ul class="post-data-3">
      <li><i class="icon-calendar"></i> {{ item.created|date:"d/m/Y" }}</li>
      <li><i class="icon-user"></i> <a href="#">{{ item.author.get_full_name }}</a></li>
      <li><i class="icon-comment"></i> <a href="#">{{ item.comments.count }} Коментарів</a></li>

      <li><i class="icon-tags"></i>
          {% for tag in item.tags.all %}
        <a href="{% url 'forum' %}?tag={{ tag.name }}">{{ tag.name }}</a>
              {% if not forloop.last %},{% endif %}
          {% endfor %}
      </li>
    </ul>
  </div>
</article>