{% load static %}

<!-- Blog Post 1 -->
<article class="clearfix">
  <a href="{% url 'forum_single' item.id %}">
    <img src="{{ item.image.url }}" style="max-width: 230px" alt="Post Thumb" class="align-left"></a>
  <h4 class="title-bg"><a href="{% url 'forum_single' item.id %}">{{ item.title }}</a></h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc
    iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. </p>
  <a href="{% url 'forum_single' item.id %}">
    <button class="btn btn-mini btn-inverse" type="button">Read more</button>
  </a>
  <div class="post-summary-footer">
    <ul class="post-data-3">
      <li><i class="icon-calendar"></i> {{ item.created|date:"d/m/Y" }}</li>
      <li><i class="icon-user"></i> <a href="#">{{ item.author.get_full_name }}</a></li>
      <li><i class="icon-comment"></i> <a href="#">{{ item.comments.count }} Коментарів</a></li>

      <li><i class="icon-tags"></i>
        <a href="#">photoshop</a>,
        <a href="#">tutorials</a>
      </li>
    </ul>
  </div>
</article>