{% load static %}

<!-- Blog Post 1 -->
<article class="clearfix">
  <a href="blog-single.htm"><img src="{% static 'img/gallery/gallery-img-1-4col.jpg' %}" alt="Post Thumb"
                                 class="align-left"></a>
  <h4 class="title-bg"><a href="blog-single.htm">A subject that is beautiful in itself</a></h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc
    iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. </p>
  <button class="btn btn-mini btn-inverse" type="button">Read more</button>
  <div class="post-summary-footer">
    <ul class="post-data-3">
      <li><i class="icon-calendar"></i> 09/04/15</li>
      <li><i class="icon-user"></i> <a href="#">Admin</a></li>
      <li><i class="icon-comment"></i> <a href="#">5 Comments</a></li>
      <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a></li>
    </ul>
  </div>
</article>