{% extends 'base.html' %}
{% load static %}

{% block script_header %}
{% endblock %}

{% block content %}
  <div class="container main-container">

    <!-- Blog Content
    ================================================== -->
    <div class="row">

      <!-- Blog Posts
      ================================================== -->
      <div class="span8 blog">

        {% for item in posts %}
          {% include 'forum/content_block__forum__topic.html' %}
        {% endfor %}
      
      </div>

      {% include 'forum/content_block_right_side_block.html' %}

    </div>

  </div> <!-- End Container -->
{% endblock %}
