{% load static %}
<div class="row gallery-row"><!-- Begin Gallery Row -->

  <div class="span12">
    <h5 class="title-bg">Recent Work
      <small>That we are most proud of</small>
      <button class="btn btn-mini btn-inverse hidden-phone" type="button">View Portfolio</button>
    </h5>

    <!-- Gallery Thumbnails
    ================================================== -->

    <div class="row clearfix no-margin">
      <ul class="gallery-post-grid holder">

        {% for item in photoalbums %}
          {% include 'main_page/content_block__main_gallery_item.html' %}
        {% endfor %}

      </ul>
    </div>
  </div>

</div><!-- End Gallery Row -->