{% load static %}
<div class="row gallery-row"><!-- Begin Gallery Row -->

  <div class="span12">
    <h5 class="title-bg">Останні альбоми
      <small>Що в нас новенького</small>
      <button class="btn btn-mini btn-inverse hidden-phone"
              href="{% url 'gallery' %}"
              type="button">Переглянути більше</button>
    </h5>

    <!-- Gallery Thumbnails
    ================================================== -->

    <div class="row clearfix no-margin">
      <ul class="gallery-post-grid holder">

        {% for item in photoalbums %}
          {% include 'main_page/content_block__main_gallery_item.html' %}
        {% endfor %}

      </ul>
    </div>
  </div>

</div><!-- End Gallery Row -->