{% load static %}

<div class="row"><!-- Begin Bottom Section -->

    <!-- Blog Preview
      ================================================== -->
    <div class="span6">

        <h5 class="title-bg">Останні публікації
            <small>All the latest news</small>
            <button id="btn-blog-next" class="btn btn-inverse btn-mini" type="button">&raquo;</button>
            <button id="btn-blog-prev" class="btn btn-inverse btn-mini" type="button">&laquo;</button>
        </h5>

        <div id="blogCarousel" class="carousel slide ">

            <!-- Carousel items -->
            <div class="carousel-inner">

                {% for p in lasted_post %}
                    <!-- Blog Item 1 -->
                    <div class="{% if forloop.first %}active{% endif %} item">
                        <a href="{% url 'forum_single' p.id %}"><img style="max-width: 360px" src="{{ p.image.url }}"
                                                                     alt=""
                                                                     class="align-left blog-thumb-preview"/></a>
                        <div class="post-info clearfix">
                            <h4><a href="{% url 'forum_single' p.id %}">{{ p.title }}</a></h4>
                            <ul class="blog-details-preview">
                                <li>
                                    <i class="icon-calendar"></i><strong>Опубліковано:</strong> {{ p.created|date:"j m, Y" }}
                                <li>
                                <li><i class="icon-user"></i><strong>Опубліковано:</strong> <a href="#"
                                                                                               title="Link">{{ p.author.get_full_name }}</a>
                                <li>
                                <li><i class="icon-comment"></i><strong>Коментарів:</strong> <a href="#"
                                                                                                title="Link">{{ p.comments.count }}</a>
                                <li>
                                <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a>, <a
                                        href="#">illustration</a>
                            </ul>
                        </div>
                        <p class="blog-summary">
                            {#              {{ p.description }}#}
                            {#              <a href="{% url 'forum_single' p.id %}">Читати більше</a>#}
                        <p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- Client Area
    ================================================== -->
    <div class="span6">

        <h5 class="title-bg">Останні коментарі
            <small>До цікавих статтей</small>
            <button id="btn-client-next" class="btn btn-inverse btn-mini" type="button">&raquo;</button>
            <button id="btn-client-prev" class="btn btn-inverse btn-mini" type="button">&laquo;</button>
        </h5>

        <!-- Client Testimonial Slider-->
        <div id="clientCarousel" class="carousel slide no-margin">
            <!-- Carousel items -->
            <div class="carousel-inner">

                {% for item in comments_block %}
                    <div class="{% if forloop.first %}active{% endif %} item">
                        <p class="quote-text">"{{ item.comments.last.text|safe|striptags }}"
                            <cite>{{ item.comments.last.author.get_full_name }}y</cite>
                        </p>
                    </div>
                {% endfor %}

            </div>
        </div>

        <!-- Client Logo Thumbs-->
        <ul class="client-logos">
            {% for item in comments_block %}
                <li>
                    <a href="{% url 'forum_single' item.id %}" class="client-link">
                        <div style="background-image: url({{ item.image.url }});
                                border-radius: 50%;
                                width: 100px;
                                height: 100px;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover">

                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>

</div><!-- End Bottom Section -->