
<h4 class="title" id="question-name" data-next-question-id="{{ next_question }}">{{ question.title }}</h4>
<div class="form-group form-inline">
  <input type="radio" id="contactChoice1"
         name="answer" value="yes">
  <label for="contactChoice1">Так</label>
</div>
<div class="form-group form-inline">
  <input type="radio" id="contactChoice2"
         name="answer" value="no">
  <label for="contactChoice2">Ні</label>
</div>
<div class="form-group form-inline">
  <input type="radio" id="contactChoice3"
         name="answer" value="undefined">
  <label for="contactChoice3">Не знаю</label>
</div>