{% load static %}
<!-- Footer Area
    ================================================== -->

<div class="footer-container"><!-- Begin Footer -->
  <div class="container">
    <div class="row footer-row">
      <div class="span4 footer-col">
        <h5>Про нас</h5>
        <img src="{% static 'img/logo-footer.svg' %}" alt="Piccolo"/><br/><br/>
{#        <address>#}
{#          <strong>Design Team</strong><br/>#}
{#          123 Main St, Suite 500<br/>#}
{#          New York, NY 12345<br/>#}
{#        </address>#}
{#        <ul class="social-icons">#}
{#          <li><a href="#" class="social-icon facebook"></a></li>#}
{#          <li><a href="#" class="social-icon twitter"></a></li>#}
{#          <li><a href="#" class="social-icon dribble"></a></li>#}
{#          <li><a href="#" class="social-icon rss"></a></li>#}
{#          <li><a href="#" class="social-icon forrst"></a></li>#}
{#        </ul>#}
      </div>
      <div class="span4 footer-col">
        <h5>Останні публікації</h5>
        <ul class="post-list">
          {% for p in footer_posts %}
            <li><a href="{% url 'forum_single' p.id %}">{{ p.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="span4 footer-col">
        <h5>Flickr Photos</h5>
        <ul class="img-feed">
          {# {{ random_photos }} #}
          {% for p in footer_photos %}
            <li><a href="{% url 'gallery-photo-detail' p.album_id p.id %}"><img width="60px" src="{{ p.image.url }}"
                                                                                alt="Image Feed"></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row"><!-- Begin Sub Footer -->
      <div class="span12 footer-col footer-sub">
        <div class="row no-margin">
          <div class="span6"><span class="left">Copyright 2017 Pelekh A. All rights reserved.</span></div>
          <div class="span6">
                            <span class="right">
                            <a href="{% url 'main_page' %}">Домівка</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
                                href="{% url 'gallery' %}">Галерея</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
                                href="{% url 'forum' %}">Форум</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
                                href="#">Контакти</a>
                            </span>
          </div>
        </div>
      </div>
    </div><!-- End Sub Footer -->

  </div>
</div><!-- End Footer -->